@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  background-image: linear-gradient(rgb(4, 70, 78), rgb(21, 35, 79) );
  font-family: 'Merriweather';
}